@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

html {
  --f-primary: "Nunito Sans", sans-serif;
  --c-dark-elements: hsl(209, 23%, 22%);
  --c-dark-bg: hsl(207, 26%, 17%);
  --c-light-text: hsl(200, 15%, 8%);
  --c-light-input: hsl(0, 0%, 52%);
  --c-light-bg: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements */
  --c-white: hsl(0, 0%, 100%);
  --box-shadow-light: 0 1px 10px hsla(0, 5%, 17%, 0.128); 
  --box-shadow-dark: 0 1px 10px hsla(0, 0%, 0%, 0.37);; 
}

:root {
  color-scheme: light;
  --background: var(--c-light-bg);
  --element: var(--c-white);
  --text: var(--c-light-text);
  --input: var(--c-light-input);
  --box-shadow: var(--box-shadow-light); 
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: var(--c-dark-bg);
    --element: var(--c-dark-elements);
    --text: var(--c-white);
    --input: var(--c-white);
    --box-shadow: var(--box-shadow-dark);
  }
}

[data-color-scheme="light"] {
  color-scheme: light;
  --background: var(--c-light-bg);
  --element: var(--c-white);
  --text: var(--c-light-text);
  --input: var(--c-light-input);
  --box-shadow: var(--box-shadow-light); 
}

[data-color-scheme="dark"] {
  color-scheme: dark;
  --background: var(--c-dark-bg);
  --element: var(--c-dark-elements);
  --text: var(--c-white);
  --input: var(--c-white);
  --box-shadow: var(--box-shadow-dark);
}
